{% extends 'test_words/base.html' %}

{% load static %}

{% block index_additional %}
    <link rel="stylesheet" href="{% static 'test_words/css/form_css.css' %}">
{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block content %}

  <h3>{{title}}</h3>
  <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for i in form %}
          <div class="form-style">
            {{i.label_tag}}
            {{i.errors}}
            {{i}}
          </div>
        {% endfor %}

        <button type="submit">Добавить</button>
    </form>

{% endblock %}